@font-face {
  font-family: AkuKamu;
  src: url("./Aku&Kamu.otf") format("opentype");
}

* {
  font-family: AkuKamu;
}

body {
  background-color: rgb(196, 216, 234);
}

.header-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}

.subheading {
  font-weight: 400;
  font-size: 1.2em;
  font-family: Roboto;
}
